[intellij]
# removes project path and current filename
class = jetbrains-idea
title_regex = (.*) \[(.*)\] - (.*) - IntelliJ IDEA
new_title = \1 - IntelliJ

[urxvt]
title = urxvt
new_title =  Terminal

[calendar]
title_regex = .*Calendar.*
new_title = Calendar

[chrome]
class=Google-chrome
new_title = Chrome
